<footer class="dark:text-white text-black body-font border-t border-[#585151] dark:border-white">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">

      <img class="rounded-full w-16 h-16" src="hero.png" alt="Github" />

      <span class="ml-3 text-xl dark:text-white">Naunau</span>
    </a>
    <p class="text-sm dark:text-white sm:ml-4 sm:pl-4
     sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      © {{year}} Naunau —
      <a href="andriatahianaarnaud110@gmai.com" class="text-blue-600 ml-1" rel="noopener noreferrer"
       target="_blank">{{author}}</a>
    </p>


    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-blue-600 cursor-pointer" href="">
        <img class="rounded-full w-6 h-6" src="facebook-f.png" alt="Facebook" />
      </a>

      <a class="ml-3 cursor-pointer" href="">
        <img class="rounded-full w-6 h-6" src="github.png" alt="Github" />
      </a>


      <a class="ml-3 text-gray-500 cursor-pointer" href="">
       <img class="rounded-full w-6 h-6" src="telegram.png" alt="Telegram" />
      </a>

      <a class="ml-3 text-gray-500 cursor-pointer" href="">
       <img class="rounded-full w-6 h-6" src="linkedin-in.png" alt="Linkdin" />
      </a>

    </span>
  </div>
</footer>


