<section class="about" id="about">
  <h1
    class="sm:text-7xl text-5xl text-center
     sm:mt-0 mt-8 mb-0 font-medium dark:text-white"
  >
    About <span class="text-blue-600">Me</span>
  </h1>
  <div class="flex mt-6 justify-center">
    <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
  </div>

  <div class="row">
    <div class="image">
      <img draggable="false" class="tilt" src="sary1.jpg" alt="" />
    </div>

    <div class="content">
      <h3 class="dark:text-white italic">I'm Arnaud ANDRIATAHIANA</h3>
      <span class="text-[1.4rem] font-semibold text-blue-600"
        >Fullstack Developer</span
      >
      <p class="dark:text-white text-slate-800">
        {{teny}}
      </p>

      <div class="box-container flex flex-wrap gap-6 font-semibold">
        <div class="box">
          <p class="dark:text-[#f2f2f2] text-slate-700 font-medium">
            <span class="text-blue-600"> Email : </span>
            {{ email }}
          </p>
          <p class="dark:text-[#f2f2f2] text-slate-700 font-medium">
            <span class="text-blue-600"> Place : </span> {{ place }}
          </p>
        </div>
      </div>

      <div class="resumebtn">
        <a href="#" class="btn">
          <span class="font-semibold text-[1.5rem]">Read more</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>

