<section class="text-gray-500 dark:text-white  body-font min-h-screen" id="service">
  <div class="container px-5 pb-20 lg:pt-24 md:pt-0 pt-0 mx-auto">
    <div *ngIf="services && services.length > 0" class="text-center mb-20">
<!-- !header section -->
      <h1 class="sm:text-7xl text-5xl text-center text-black dark:text-white sm:mt-0 mb-0 font-medium">
      <span class="text-blue-600">Our</span> Services
     </h1>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>
<!-- ! header end section -->
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div *ngFor="let item of services;"
       class="p-4 md:w-1/3 flex flex-col text-center items-center border border-blue-600">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full
         bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <img class="rounded-full w-16 h-16 cursor-pointer" [src]="item.img" [alt]="item.name" />
        </div>
        <div class="flex-grow">
          <h2 class="dark:text-white text-black text-lg title-font font-medium mb-3">{{item.name}}</h2>
          <p class="leading-relaxed text-base text-gray-500 ">{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>

</section>

